.expandAllBtn {
  color: #5624d0;
  background-color: transparent;
  min-width: auto;
  padding: 0;
  border: none;
  font-weight: bold;
  height: 4rem;
}

.sectionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

.sectionsHeader .summary {
  padding: 0.8rem 0;
}

.sections {
  border-left: 1px solid #d1d7dc;
  border-right: 1px solid #d1d7dc;
}
