.objectives {
  padding: 2.4rem;
  padding-bottom: 1.6rem;
  border: 1px solid #d1d7dc;
}

.objectives ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.6rem;
}

.objectives ul > li {
  font-size: 1.4rem;
  display: flex;
  gap: 1.6rem;
  padding: 0.4rem 0;
}
