*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1c1d1f;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > nav + div {
  flex-grow: 1;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold !important;
}

a,
body,
button {
  font-size: 1.6rem;
}

.heading-serif {
  font-family: "Times New Roman", Times, serif;
}

.text-small {
  font-size: 1.2rem;
}

.text-small-lite {
  font-size: 1.2rem;
  color: #6a6f73;
}

@media screen and (max-width: 600px) {
  .section1-header {
    display: none;
  }
}
