nav {
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 100;
}

.logo {
  display: grid;
  place-items: center;
}

.logo img {
  width: 91px;
}

.nav a {
  line-height: 0; /* to make the link fit the image inside it */
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0 1.2rem;
  height: 4.8rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.placeholder {
  visibility: hidden;
  width: 4.8rem;
  height: 4.8rem;
}

.links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navLink {
  margin: 1.2rem 0;
  padding: 0 1.2rem;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.4rem;
  color: inherit;

  height: 4.8rem;
  display: inline-flex;
  align-items: center;

  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}

.navLink:visited {
  color: inherit;
}

.navLink:hover {
  color: #401b9c;
}

.search {
  flex-grow: 1;
  border-radius: 100px;
  padding: 0 2.4rem 0 0;
  display: flex;
  align-items: center;
  height: 4.8rem;
  border: 1px solid #1c1d1f;
  background-color: #f7f9fa;
  overflow: hidden;
}

.search input {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  min-width: 0;
}

.search input:focus {
  outline: none;
}

.search button {
  padding: 0;
  height: 100%;
  width: 4.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

nav > .smOnly {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0.4rem;
  }

  nav > *:not(.sm) {
    visibility: hidden;
    position: absolute;
  }

  nav > .smOnly {
    visibility: visible;
    position: static;
  }

  nav .logo img {
    width: 75px;
  }

  nav .logo {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1080px) {
  nav .links > li:first-of-type {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  nav .links > li:nth-of-type(2) {
    display: none;
  }
}
