.topCategories {
  /* to cancel the `me-4` effect of the last col items */
  margin-inline-end: -1.5rem;
}

.topCategories .image {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.topCategories img {
  transition: transform 150ms cubic-bezier(0,0,.38,.9);
}

.topCategories img:hover {
  transform: scale(1.05);
}
