.course {
  text-decoration: none;
  /* bootstrap changes the color of <a> when it is hovered */
  color: black !important;
  display: grid;
  align-content: flex-start;
  grid-gap: 0.4rem;
  max-width: 30rem;
  min-width: 18rem;
  height: 40rem;
  flex-grow: 1;
  /*
  * greater than the max-width just to force all to have the same width
  * then will still be able to skrink and grow
  */
  flex-basis: 40rem;
}

.course:hover .img {
  transition: filter linear 100ms;
  filter: brightness(80%);
}

.img {
  width: 100%;
  object-fit: cover;
}

.title {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.price {
  padding: 0.4rem 0;
  font-weight: bold;
}

.oldPrice {
  padding: 0.4rem 0;
  text-decoration: line-through;
  color: #6a6f73;
  margin-left: 0.5rem;
}

.badges {
  display: flex;
  margin: 0.4rem 0;
  gap: 0.4rem 0.8rem;
}
